{% extends 'default.html' %}

{% block content %}
    <h1>Article list</h1>
    <div class="articles_list">
        {% for article in items %}
        <div class="article_list">
            <a href="{% url 'articles:details' slug=article.slug %}">
            <h2>{{ article.title }}</h2>
            <p><img width="241" height="341" alt="cover-{{ article.title }}" title="cover-{{ article.title }}" src="{{ article.thumb.url }}"/></p>
            <p>{{ article.short_desc }}</p></a>
            <p>{{ article.author }}, {{ article.date }}</p>
        </div>
        {% endfor %}
    </div>
    <div>
        {% include 'articles/pagination.html' %}
    </div>
{% endblock %}